h1 {
    text-align: center;
    background-color: cornflowerblue;
}

body {
    background-color: rgb(36, 35, 35);
}

h2 {
    color: white;
}

#photoDivs {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.personImage{
    margin: 10px;
}